*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
  .header__container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav__list {
    justify-content: center;
  }
  .nav__item {
    font-size: 25px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}
.header__logo {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 134.7%;
  color: #31353B;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 46px;
       column-gap: 46px;
  row-gap: 6px;
}
.nav__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 130.7%;
  color: #000000;
}

.nav__link:hover {
  text-decoration: underline;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.main {
  position: relative;
}
.main-block__container {
  padding-top: 184px;
}
.main-block__body {
  display: flex;
  position: relative;
  z-index: 30;
  align-items: flex-start;
}

.content-main-block {
  flex: 0 1 48.4%;
  padding-top: 44px;
}
.content-main-block__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 131%;
  color: #FF9900;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.content-main-block__subtitle {
  width: 86.7%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 135%;
  margin-bottom: 23px;
  color: #000000;
}
.content-main-block__text {
  z-index: inherit;
  width: 85.2%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #31353B;
  margin-bottom: 48px;
}

.form-main-block {
  position: relative;
  z-index: 25;
  background: #fff url("../img/home.svg") 33px 50% no-repeat;
  height: 86px;
  display: flex;
  margin-right: -188px;
  border: 1px solid #DADADA;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.form-main-block__input {
  background-color: transparent;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.01em;
  width: 100%;
  opacity: 0.3;
  padding-left: 74px;
}
.form-main-block__button {
  position: relative;
  z-index: inherit;
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 135%;
  letter-spacing: 0.01em;
  padding: 32px 42px 31px 40px;
  color: #FFFFFF;
  background: #F85A47;
  flex: 0 0 188px;
}

.form-main-block__input::-moz-placeholder {
  color: #31353B;
}

.form-main-block__input:-ms-input-placeholder {
  color: #31353B;
}

.form-main-block__input::placeholder {
  color: #31353B;
}

.body-main-block__slider {
  flex: 0 1 52.6%;
  min-width: 0;
  min-height: 100%;
}

.main-block__container::after {
  content: "";
  position: absolute;
  width: 200%;
  top: 0px;
  left: 68%;
  height: 100%;
  background: rgb(189, 204, 255);
}

.main-block__container {
  position: relative;
}

.partners-main-block {
  max-width: 67%;
  margin-top: 14px;
}
.partners-main-block__label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #31353B;
}
.partners-main-block__items {
  position: relative;
  z-index: 30;
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}
.partners-main-block__item {
  background: none;
}

@media (max-width: 1199.98px) {
  .main-block__body {
    display: block;
    gap: 40px;
  }
  .content-main-block__subtitle {
    width: 100%;
  }
  .content-main-block__text {
    width: 100%;
  }
  .body-main-block__content {
    flex: 1 1 100%;
  }
  .slider-main-block {
    flex: 1 1 100%;
  }
  .form-main-block {
    margin-right: 0px;
  }
}
@media (max-width: 990.98px) {
  .form-main-block {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .form-main-block__button {
    flex: 0 0 88px;
  }
  .form-main-block__input {
    flex: 1 1 auto;
    min-height: 86px;
  }
}
@media (max-width: 990.98px) {
  .form-main-block__input {
    font-size: 16px;
    padding-left: 20px;
  }
  .form-main-block {
    background-image: none;
  }
}
.partners-main-block__item {
  max-width: 100%;
}

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-info__container {
  padding-top: 223px;
}
.main-info__title {
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 137.5%;
  color: #000000;
}
.main-info__cards {
  display: flex;
  gap: 160px;
  padding-top: 70px;
  align-items: center;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-cards__item {
  flex: 0 1 33.333%;
}

.info-icon_purple {
  background: #9672FF;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.info-icon_blue {
  background: #4DDFFD;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.info-icon_pink {
  background: #F2B8EC;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-item__icon {
  text-align: center;
  border-radius: 20px;
  width: 90px;
  height: 90px;
  margin-bottom: 50px;
}
.info-item__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
}
.info-item__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #333333;
}

.info-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 240px;
  top: 41px;
  background: url("../img/Group 19.svg") 0 0 no-repeat;
  width: 210px;
  height: 11px;
}

.best-deals__container {
  padding-top: 224px;
}
.best-deals__header {
  margin-bottom: 50px;
}
.best-deals__title {
  padding-bottom: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 137.5%;
  color: #000000;
}
.best-deals__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 471px;
  color: #000000;
}
.best-deals__panel {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  padding-bottom: 45px;
}
.best-deals__property-type {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 136.8%;
  color: #000000;
}

.best-deals__property-type::after {
  content: "";
  background-color: #F85A47;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  transition: width 0.3s ease 0s;
}

.best-deals__property-type {
  position: relative;
  cursor: pointer;
}

.best-deals__property-type:hover {
  color: #F85A47;
}

.best-deals__property-type {
  transition: color 0.3s ease 0s;
}

.best-deals__property-type:hover::after {
  width: 100%;
}

.best-deals__property-type.active {
  color: #F85A47;
}

.best-deals__property-type.active::after {
  width: 100%;
}

.best-deals-header__button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 135.2%;
  text-align: center;
  color: #FFFFFF;
  background: #F85A47;
  max-height: 65px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  padding: 0px 33px 0px 34px;
}

.best-deals-header__properties {
  display: flex;
  flex-direction: column;
  width: 38%;
}

.best-deals-header {
  display: flex;
  justify-content: space-between;
}

.best-deals__property-type {
  font-size: 19px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  background: transparent;
}

@media (max-width: 1024px) {
  .main-info__cards {
    flex-direction: column;
    gap: 50px;
  }
  .info-item:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .main-info__cards {
    gap: 60px;
  }
  .info-item:not(:last-child)::after {
    left: 220px;
  }
}
.main__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 30;
  top: 367px;
  gap: 25px;
  right: 20px;
}

@media (max-width: 1100px) {
  .main__media {
    display: none;
  }
}
.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 370px));
}

.item-tabs {
  flex-wrap: wrap;
}
.item-tabs__item {
  flex: 0 1 31%;
  position: relative;
}
.item-tabs__options {
  z-index: 25;
  display: flex;
  gap: 6px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.item-tabs__option {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 6px 12px 5px 12px;
}
.item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  display: block;
}

.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.534);
  transition: all 0.3s ease 0s;
}

.item-tabs__image:hover img {
  transform: scale(1.1);
}

.item-tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3 ease 0s;
}

.best-deals__item {
  display: none;
}

.best-deals__item.active {
  display: block;
}

@media (max-width: 767.98px) {
  .item-tabs {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .item-tabs__item {
    flex: 0 1 45%;
  }
}/*# sourceMappingURL=index.css.map */